<div class="container">
    <div class="row card-404">
        <div class="col-md-6 align-self-center">
            <h1 class="text-center"><i class="fas fa-exclamation-triangle icono-w"></i></h1>
        </div>
        <div class="col-md-6 align-self-center">
            <h1>404</h1>
            <h2>¡OH OH! Estas perdido. 😕</h2>
            <p>La página que estas buscando no existe. Pero no te preocupes 😁, puedes hacer click en el botón de abajo para volver a la página de inicio
            </p>
            <button [routerLink]="['/home/about-me']" class="content-button status-button"><i class="fas fa-arrow-circle-left"></i> Página de inicio</button>
        </div>
    </div>
</div>